.leaderboardContainer{
    padding: 20px;
    font-size: 20px;
    
}

.table{
    border-color: #0644c0;
}

thead{
    color: #0644c0;
    background-color: #a3bff4;
}

tbody{
    color: #0c3484;
}

.tabHead{
    color: #0644c0;
    font-weight: bold;
}